<html>
<head>
    <meta charset="utf-8" />
    <title>Garagem</title>
</head>
<body>


<p>Luz:  </p> 
    <span style="color:green">Ligado</span> 
    <span style="color:red">Desligado</span> 


<p>Portão: </p>
    <span style="color:green">Aberto</span> 
    <span style="color:red">Fechado</span> 





</body>
</html>