<!doctype html>
<html>
<head>
	<title>Mixer by Students CTESP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div id="page-wrapper">
	<!-- Header -->
				<header id="header">
					<h1><a href="/">Mixer</a> by Students CTESP</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">The Project</a>
								<ul>
                                    <li><a href="/tech">The Technology</a></li>
									<li><a href="/contact">Developers</a></li>
								</ul>
							</li>
							<li><a href="/login" class="button">Login</a></li>
						</ul>
					</nav>
				</header>

	<!-- Formulário de Registo -->
	<section id="main" class="container">
		<div class="row">
			<div class="12u">
				<section class="box">
					<h3>Sign Up</h3>
					<form action="/signup" method="post">
						<% if (message.length > 0) { %>
							<div class"form-group" style="border-color: #e89980; box-shadow: 0 0 0 2px #e89980; background-color: #f8f8f8; color:#e89980; font-weight: bold; width:300px; padding: 5px;"><%= message %></div>
						<% } %>
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" name="username">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" name="password">
							<br>
						</div>
						<button type="submit" class="button">Sign Up</button>
					</form>
				</section>
			</div>
		</div>
	</section>
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Mixer. All rights reserved.</li><li>CTESP PWDAM</li>
		</ul>
	</footer>


<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollgress.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
</div>
</body>
</html>
